body {
  width: 400px;
  padding: 0px 20px 20px 20px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
}

.status-bar__left {
  width: 30%;
  display: flex;
}
.status-bar__center {
  width: 30%;
  display: flex;
  justify-content: center;
}

.status-bar__light {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.status-bar__name {
  margin: 0px 10px 0px 0px;
}
i {
  margin: 0px 3px 3px 0px;
}

.friends-box {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  position: relative;
}
.friends-icon {
  position: relative;
  top: 6px;
}
.friends {
  font-size: 30px;
  font-weight: bolder;
}

.setting-menu {
  display: flex;
}

.friends-icon i {
  margin: 0px 20px 20px 0px;
}

.bottom-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 50px;
  background-color: gainsboro;
  position: relative;
}
.message-number {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 10px;
  right: 230px;
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.threedot {
  position: relative;
}
.reddot {
  background-color: red;
  width: 3px;
  height: 3px;
  border-color: red;
  position: absolute;
  top: 1px;
  right: -5px;
}
.line {
  width: 400px;
  height: 1px;
  border-color: gainsboro;
  background-color: gainsboro;
}

.setting-menu {
  margin: 20px 10px 20px 10px;
}
.setting-menu-2 {
  margin: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
}
.setting-menu-left {
  display: flex;
}

.setting-menu-icon {
  font-size: 30px;
}
.setting-menu-text {
  font-size: 25px;
}
.setting-menu-right {
  font-size: 25px;
}

.setting-menu i {
  margin-right: 10px;
}
.setting-menu-2 i {
  margin-right: 15px;
}

.n {
  font-size: 15px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
}
@keyframes dot {
  0% {
    transform: rotatey(0);
  }
  50% {
    transform: rotatey(180deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes dott {
  0% {
    transform: rotatez(0);
  }

  100% {
    transform: rotatez(360deg);
  }
}

.fa-sun {
  animation: dott 3s ease-in-out infinite;
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: yellow;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
